*.pdf
*.csv
notes.ipynb
cache
config.json
!liquor_retail_geocoded.csv
!school_geocoded.csv
!places_of_worship_geocoded.csv
tl_2024_25_tractdata/
*.duckdb
*.duckdb.wal

# Checkpoint subject to change as we update the data
!checkpoint15_misdemeanor_warrant.csv
